.input {
    &__text {
        display: flex;
        flex-direction: column;
        color: $colour-secondary-default;
        label {
            font-size: $font-size-p;
            font-weight: $font-weight-light;
            padding-bottom: 4px;
        }
        input, textarea, select {
            padding: 8px 12px;
            border: 2px solid $colour-secondary-default;
            border-radius: 4px;
            font-size: $font-size-p;
            font-weight: $font-weight-normal;
        }
        textarea {
            width: 100%;
            min-height: 320px;
        }
        &:hover {
            color: $colour-primary-lighter;
            input, textarea {
                border: 2px solid $colour-primary-lighter;
            }
        }
        &:focus-within {
            color: $colour-primary-lighter;
            input, textarea {
                border: 2px solid $colour-primary-lighter;
            }
        }
    }
}

.note-editor.note-frame {
    border: 2px solid $colour-secondary-default;
    &:hover, &:focus-within {
        border: 2px solid $colour-primary-lighter;
    }
}
