.underline {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin-top: 16px;
    &__rightToLeft {
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(201,62,157,1) 70%, rgba(157,44,121,1) 100%);
    }
    &__leftToRight {
        background: rgb(157,44,121);
        background: linear-gradient(90deg, rgba(157,44,121,1) 0%, rgba(201,62,157,1) 30%, rgba(255,255,255,0) 100%);
    }
    &__middle {
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(201,62,157,1) 35%, rgba(157,44,121,1) 50%, rgba(201,62,157,1) 65%, rgba(255,255,255,0) 100%);
    }
}
