// colours

$colour-primary-default: #9D2C79;
$colour-primary-lighter: #C93E9D;
$colour-primary-lightest: #D66EB5;

$colour-secondary-default: #000000;
$colour-secondary-lighter: #333333;
$colour-secondary-lightest: #666666;

$colour-white: #FFFFFF;
$colour-white-darker: #EFEFEF;

$colour-inactive: #C9C9C9;
$colour-danger: #C93838;

// fonts

//$font-size-h1: 4.209rem;
//$font-size-h2: 3.157rem;
//$font-size-h3: 2.369rem;
//$font-size-h4: 1.777rem;
//$font-size-h5: 1.333rem;
//$font-size-p: 1rem;

$font-size-h1: 3.052rem;
$font-size-h2: 2.441rem;
$font-size-h3: 1.953rem;
$font-size-h4: 1.563rem;
$font-size-h5: 1.25rem;
$font-size-p: 1rem;

$font-line_height-h1: 57.22px;
$font-line_height-h2: 45.77px;
$font-line_height-h3: 36.62px;
$font-line_height-h4: 29.3px;
$font-line_height-h5: 23.44px;

$font-weight-light: 300;
$font-weight-normal: normal;
$font-weight-medium: 500;
$font-weight-bold: bold;


